<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='styles.css') }}"
    />
    <title>Ultimo Dato</title>
  </head>
  <body>
    <div class="root">
      <h1>Ultimo dato actual sobre el % de vacunación</h1>
      <div class="btnBox">
        <p>
          En el pais {{pais}} el ultimo dato fue de {{data}}% en el año {{year}}
        </p>
        <a href="/">Regresar</a>
      </div>
    </div>
  </body>
</html>