<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='styles.css') }}"
    />
    <title>Promedio</title>
  </head>
  <body>
    <div class="root">
      <h1>Promedio en todos los años de vacunación</h1>
      <div class="btnBox">
        <p>El promedio de inmunización es de {{porcent}}%</p>
        <a href="/">Regresar</a>
      </div>
    </div>
  </body>
</html>